
:root {
    background-color: #F9F9F9;
    padding: 0;
    margin: 0;
}

body {
    color: #00486D;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h1 {
    margin: 0.5em 0em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5em 0em;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

h4 {
    font-style: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0.5em;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #00486D;
    padding: 0.5em;
    overflow: hidden;
}

.nav.logo {
    height: 75px;
    margin: 0.5em;
}

.navbar.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-link {
    text-decoration: none;
    color: #F9F9F9;
    padding: 0.5em 2em;
    text-transform: uppercase;
    text-align: end;
}

.banner {
    display: flex;
    background-image: url("https://i.postimg.cc/dVrRdC6D/banner-edit-two.png");
    overflow: hidden;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: center;
    min-height: 400px;
}

.container {
    display: flex;
    padding: 6em 0em; 
    background-color: #E0ECF5;  
    flex-wrap: wrap;
}

.home-container {
    background-color: #E0ECF5;
    padding: 2em 0em;
}

.container-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em 0em;  
    align-items: center;
    background-color: #E0ECF5;
}

.container-center {
    display: flex;
    justify-content: center;
    padding: 10em 4em;  
    flex-wrap: wrap;
    background-color: #E0ECF5;
}

.horizontal-stacker {
    display: flex;
    justify-content: center;
    padding: 2em 15em 0em 15em;
}

.horizontal-stacker-right {
    display: flex;
    justify-content: center;
    padding: 2em 15em;
    flex-flow: row-reverse;
}

.vertical-stacker {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0em 0em 0em 3em;
}

.vertical-stacker-reduced {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.vertical-stacker-center {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.vertical-stacker-center-blue {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #E0ECF5;
    padding-top: 3em;
}

.vertical-stacker-right {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0em 3em 0em 0em;
}

.vertical-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    padding: 2em 15em 2em 15em;
}

.img-cap {
    font-style: italic;
    font-size: x-small;
    text-wrap: wrap;
}

.index.image {
    display: flex;
    height: 100px;
    justify-content: center;
    align-self: center;
}

.who {
    padding-top: 1em;
}

.client-icon-set {
    display: flex;
    justify-content:center;
    padding: 2em 0em 8em 0em;
    flex-wrap: wrap;  
}

.about.image {
    display: flex;
    height: 300px;
    justify-content: center;
    border-radius: 10px;
}

.about-us-image {
    display: flex;
    height: 300px;
    border-radius: 15px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0em; 
    background-color: #00486D;  
    color: #F9F9F9; 
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content:space-evenly;
    color: #F9F9F9; 
    background-color: #00486D;
    margin: 1em 0em;
}

.footer.logo {
    height: 90px;
    margin: 1em 2em;
}

.acknowledgement {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    font-size: small;
}

.waiver {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 2.5em;
    font-size: x-small;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 2.5em;
    font-size: x-small;
    text-align: end;
}

.terms {
    margin-left: 0.5em;
    color: #F9F9F9;
}

.dropdown .dropbtn.nav-link {
    text-decoration: inherit;
    color: #F9F9F9;
    padding: 0.5em 2em;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: inherit;
}

.drop-nav-link {
    text-decoration: none;
    color: #F9F9F9;
    padding: 0.5em 2em;
    text-transform: uppercase;
    text-align: start;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#00486D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    color:darkcyan;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a:hover {
    background-color:#00486D;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translate(-100%);
    }
}

.viewing-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: 60px 0px 130px 0px;
    background-color:#E0ECF5;
    white-space: nowrap;
    position: relative;
    justify-content: center;
}

.viewing-container:hover .carousel {
    animation-play-state: paused;
}

.viewing-container::before,
.viewing-container::after {
    position: absolute;
    top: 0;
    width: 450px;
    height: 100%;
    content: "";
    z-index: 2;
}

.viewing-container::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #E0ECF5);
}

.viewing-container::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #E0ECF5);
}

.carousel {
    display: flex;
    flex-direction: row;
    animation: 25s slide infinite linear;
}

.logo-container {
    display: flex;
    width: 250px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    box-sizing:content-box;
}

.client-logo {
    display: flex;
    max-width: 100%;
}

@media screen and (min-width: 200px) and (max-width: 800px) {
    .container {
        padding: 2em 1em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
    .container-center {
        padding: 10em 2em;
    }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
    .img-cap {
        padding: 0em 1em;
        flex-wrap: wrap;
        align-items: center;
        max-width: 500px;
    }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
    .vertical-box {
        padding: 1em 3em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
    .client-icon-set {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 200px) and (max-width: 600px) {
    .banner {
        min-height: 250px;
        background-position-x: right;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .banner {
        min-height: 300px;
        background-position-x: right;
    }
}

@media screen and (min-width: 801px) and (max-width: 1300px) {
    .banner {
        min-height: 400px;
        background-position-x: right;
    }
}

@media screen and (min-width:801px) and (max-width: 1300px) {
    .container {
        padding: 2em 1em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:801px) and (max-width: 1300px) {
    .container-center {
        padding: 12em 2em;
    }
}

@media screen and (min-width:801px) and (max-width: 1300px) {
    .img-cap {
        padding: 0em 0.25em;
        flex-wrap: wrap;
        align-items: center;
        max-width: 500px;
    }
}

@media screen and (min-width:801px) and (max-width: 1300px) {
    .vertical-box {
        padding: 2em 5em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:801px) and (max-width: 1300px) {
    .client-icon-set {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:801px) and (max-width: 1300px) {
    .about.image {
        min-height: 400px;
    }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
    .horizontal-stacker {
        padding: 2em 1em;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
    .horizontal-stacker-right {
        padding: 2em 1em;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
    .horizontal-stacker {
        padding: 2em 9em 0em 9em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
    .horizontal-stacker-right {
        padding: 2em 9em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1300px) {
    .horizontal-stacker {
        padding: 2em 9em 0em 9em;
        flex-direction: row;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1300px) {
    .horizontal-stacker-right {
        padding: 2em 9em;
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
    .index.image {
        min-height: 125px;
    }
}

@media screen and (min-width: 751px) and (max-width: 1100px) {
    .index.image {
        min-height: 150px;
    }
}

@media screen and (min-width: 425px) and (max-width: 525px) {
    .about-us-image {
        min-height: 390px;
    }
}

@media screen and (min-width: 526px) and (max-width: 825px) {
    .about-us-image {
        min-height: 490px;
    }
}

@media screen and (min-width: 826px) and (max-width: 1100px) {
    .about-us-image {
        min-height: 550px;
    }
}

@media screen and (min-width: 425px) and (max-width: 525px) {
    .about.image {
        min-height: 350px;
    }
}

@media screen and (min-width: 526px) and (max-width: 825px) {
    .about.image {
        min-height: 450px;
    }
}

@media screen and (min-width: 826px) and (max-width: 1100px) {
    .about.image {
        min-height: 600px;
    }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
    .vertical-stacker-reduced {
        padding: 0em 1em;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (min-width:801px) and (max-width: 1300px) {
    .vertical-stacker-reduced {
        padding: 0em 1em;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (min-width: 200px) and (max-width: 485px) {
    .vertical-stacker {
        padding: 1em 2.5em;
    }
}

@media screen and (min-width: 486px) and (max-width: 525px) {
    .vertical-stacker {
        padding: 1em 3.5em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 526px) and (max-width: 600px) {
    .vertical-stacker {
        padding: 1.5em 2.5em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 601px) and (max-width: 640px) {
    .vertical-stacker {
        padding: 1.5em 4em;
        flex-wrap: wrap;
    }
}


@media screen and (min-width: 641px) and (max-width: 700px) {
    .vertical-stacker {
        padding: 1.5em 6em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 701px) and (max-width: 800px) {
    .vertical-stacker {
        padding: 1.5em 8em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 801px) and (max-width: 825px) {
    .vertical-stacker {
        padding: 1.5em 1em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 826px) and (max-width: 900px) {
    .vertical-stacker {
        padding: 1.5em 0em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 901px) and (max-width: 955px) {
    .vertical-stacker {
        padding: 1.5em 1em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 956px) and (max-width: 1000px) {
    .vertical-stacker {
        padding: 1.5em 2em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
    .vertical-stacker {
        padding: 1.5em 4em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 200px) and (max-width: 485px) {
    .vertical-stacker-right {
        padding: 1em 2.5em;
    }
}

@media screen and (min-width: 486px) and (max-width: 525px) {
    .vertical-stacker-right {
        padding: 1em 3.5em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 526px) and (max-width: 825px) {
    .vertical-stacker-right {
        padding: 1.5em 2.5em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 601px) and (max-width: 640px) {
    .vertical-stacker-right {
        padding: 1.5em 4em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 641px) and (max-width: 700px) {
    .vertical-stacker-right {
        padding: 1.5em 6em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 701px) and (max-width: 800px) {
    .vertical-stacker-right {
        padding: 1.5em 9em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 801px) and (max-width: 825px) {
    .vertical-stacker {
        padding: 1.5em 1em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 826px) and (max-width: 900px) {
    .vertical-stacker-right {
        padding: 1.5em 0em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 901px) and (max-width: 955px) {
    .vertical-stacker-right {
        padding: 1.5em 1em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 956px) and (max-width: 1000px) {
    .vertical-stacker-right {
        padding: 1.5em 2em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
    .vertical-stacker-right {
        padding: 1.5em 4em;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 0px) and (max-width: 916px) {
    .navbar.menu {
        flex-direction: column;
        align-items: flex-end;        
        flex-wrap: wrap;
    }
}

